/packages/crystract/.Rproj.user
/packages/crystract/.Rhistory
/packages/crystract/.RData
/packages/crystract/.Ruserdata
/notebook/workflow/data/
/notebook/clathrates/Verified/
/notebook/clathrates/interactive_report_files/
/notebook/datathon/batch_results/
/notebook/natural/split_cif_files/
/notebook/natural/crystract_batch_results/
/notebook/natural/amcsd_parsed_list.rds
/packages/crystract/doc/
/packages/crystract/Meta/
.Rproj.user
.Rhistory
/notebook/natural/cif
/notebook/natural/crystract_chemistry_results
/packages/crystract.Rcheck
packages/crystract_1.0.1.tar.gz
packages/crystract/.DS_Store
packages/.DS_Store
.DS_Store
